.everything {
  width: 100vw;
  height:100vh;
  background-color: black;
  color: #FFD700;
  text-align: center;
}

.title {
  font-size: 100px;
}

.question {
  position: relative;
  top:40vh;
  font-size: 30px;
}

.input_field {
  background-color: black;
  border: none;
  width:25%;
  color: #FFD700;
  position: relative;
  top:50vh;

  border: 1px solid transparent;
  border-top: none;
  padding: 15px;
  -webkit-border-image: url(border.png) 30 stretch; /* Safari 3.1-5 */


}

::placeholder {
  color: #FFD700;
}